:root{
    --Laranja:#e96b11;
    --Preto:#0f0e0e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos Base*/
body{
    background-color: var(--Preto);
    font-family: 'Times New Roman';
    color: whitesmoke;
}


header .container-fluid{
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--Laranja);
    font-family: 'arial black';
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: antiquewhite;
    margin-right: 10px ;
}

header nav a:hover{
    color: whitesmoke;
}


/*filme principal*/
.anime-principal{
    font-size: 25px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0.50)100%), url(/img/OnePiece/OnePieceCapa.jpg);
    
    height: 70%;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.anime-principal .descricao{
    margin-top: 15px;
    margin-bottom: 40px;
}

.titulo{
    margin-top: 20%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50) ;
    border: none;
    color: var(--Laranja);
    padding: 15px 30px;
    margin-left: 30px;
    font-size: 12px;
    cursor: pointer;
    transition: .4s ease all;
    margin-bottom: 10%;
    text-decoration: none;
    
}

.botao:hover{
    background-color: var(--Laranja);
    color: antiquewhite;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.anime-principal .container{
    width: 70%;
}

.box-anime{
    height: 100%;
    width: 100%;
    display: block;
}


.carrosel-animes{
    margin-top: 5px;
    cursor: pointer;
}

.series{
    font-size: 40px;
    font-family: 'arial black';
    text-align: center;
    background-color: rgb(31, 29, 29);
}

header .navigation{
    text-align: right;
}

.nome-anime{
    font-size: 20px;
    text-decoration: none;
    color: antiquewhite;
    flex-direction: row;
    align-items: center;
    cursor: pointer;;
    padding-left: 10%;
}
.nome-anime:hover{
    color: whitesmoke;
    
}

.item:hover{
    background: linear-gradient(rgba(236, 120, 43, 0.5),rgba(236,120,43.50)100%);
    background-color: whitesmoke;   
}

.nome-anime-principal{
    font-size: 12px;
    text-decoration: none;
    color: antiquewhite;
    flex-direction: row;
    cursor: pointer;;
}
.nome-anime-principal:hover{
    color: whitesmoke;